
  <!--Jumbotron section starts-->
  <div class="jumbotron">
    <div class="md-form mt-0">
      <input class="form-control" type="search" placeholder="Search" [(ngModel)]="search" id="search" aria-label="Search">
    </div>
  <div class="rounded-bottom">
    <div class="row" >
      <div class="col-md-4 p-1" *ngFor="let match of matches | searchMatches : search">
       <!--Card body starts-->
        <div class="card col-sm-12">
          <div class="card-body pb-0">
            <div class="card-header d-flex justify-content-between">
              <p id="team" class="mb-0 "> {{match.title}} </p>
            </div>
            <hr>
          </div>
        <!--Card body ends-->
  
        <!--Card body starts-->
          <div class="card-body pt-0">
            <p id="toss" class="mb-1">Description : {{match.description}}</p>
            </div>
        </div>
      </div>
        <!--Card body ends -->
      </div>
  </div>
  </div>
    <!--Jumbotron section ended-->
  